<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">
	<persistence-unit name="test">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<non-jta-data-source>derbyDataSource</non-jta-data-source>

		<class>com.zjx.entity.ContactUser</class>
		<class>com.zjx.entity.ContactGroup</class>
		<class>com.zjx.entity.LoginUser</class>
		<exclude-unlisted-classes>true</exclude-unlisted-classes>

		<properties>
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.dialect" value="com.zjx.rumba.h3.DerbyDialect" />
			<property name="hibernate.show_sql" value="true" />
		</properties>
	</persistence-unit>
</persistence>